.main-wrapper {
  display: flex;
  flex-direction: row;
}

.navbar-wrapper {
  display: flex;
  width: 22%;
  padding: 4rem 5.6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-wrapper {
  display: flex;
  width: 75%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 8rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.page-wrapper {
  display: flex;
  width: 100%;
  height: 88vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details-section-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}


.details-header-wrapper {
  display: flex;
  width: 100%;
  height: 10%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2rem;
}


.details-title-wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.details-title {
  margin-left: 0rem;
  margin: 3rem;
  font-size: 2rem;
  font-weight: 700;
  color: #000;
}


.details-dropdown-wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.details-content-wrapper {
  display: flex;
  width: 100%;
  margin-top: 5rem;
  height: 90%;
}


.details-content-col1-wrapper {
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}


.details-personal-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65%;
}

.user-name-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.user-details-main-section {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  height: 40%;
  margin-top: 1rem;
}

.user-details-title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.user-details-filler-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
}

.detail-item {
  margin-left: 0rem;
  margin: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: #000;
}

.light-name {
  margin: 1rem;
  font-size: 2rem;
  font-weight: 400;
  color: #ccc;
}


.details-company-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35%;
  border-top: 1px solid #ccc;
}

.company-details-main-section {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  width: 100%;
  height: 80%;
}


.details-content-col2-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  margin-left: 3rem;
}

.details-address-name-wrapper {
  height: 7%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.details-address-wrapper {
  width: 90%;
  height: 93%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 4rem;
}

.address-filler-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 75%;
}

.user-address-details-section {
  width: 70%;
  height: 36%;
  margin-left: -1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.address-details-section {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  height: 40%;
}

.address-title-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 25%;
}

.map-wrapper {
  width: 100%;
  height: 56%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3rem;
}

.latitude-longitude-wrapper {
  width: 100%;
  height: 4%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
}

.lat-long-text {
  margin: 0rem;
  margin-right: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #ccc;
}

.lat-long-num {
  margin: 0rem;
  margin-right: 2rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: #000;
}

.image-circle-small {
  height: 4rem;
  width: 4rem;
  border: 1px solid #000;
  margin-right: 1rem;
}

.image-circle-large {
  height: 12rem;
  width: 12rem;
  border: 1px solid #000;
}
